[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
sklearn = "*"
chardet = "*"
beautifulsoup4 = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
